.SectionHero {
  background-image: url(../../assets/images/hero.jpeg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &-HeroOverlay {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-HeroContent {
    width: 100%;
    padding: 0 15px;
  }

  &-HeroHeading {
    color: #e4b43c;
    line-height: 140%;
    margin-bottom: 30px;
    font-size: 20px;
  }

  &-HeroSubheading {
    line-height: 160%;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
  }

  @media screen and (min-width: 576px) {
    &-HeroContent {
      padding: 0 25px;
    }
    &-HeroOverlay {
      justify-content: flex-start;
    }
    &-HeroHeading {
      font-size: 24px;
      max-width: 400px;
    }
    &-HeroSubheading {
      max-width: 550px;
    }
  }

  @media screen and (min-width: 1024px) {
    &-HeroContent {
      padding: 0;
      max-width: 993px;
      margin: 0 auto;
    }
    &-HeroHeading {
      font-size: 28px;
      max-width: 500px;
    }
    &-HeroSubheading {
      max-width: 700px;
    }
  }

  @media screen and (min-width: 1300px) {
    height: 500px;
    &-HeroContent {
      max-width: 1280px;
    }
    &-HeroHeading {
      font-size: 32px;
    }
    &-HeroSubheading {
      font-size: 16px;
      max-width: 800px;
    }
  }
}

// .SectionHero {
//   background-image: url(images/hero.jpeg);
//   height: 500px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   margin-top: 80px;
//   position: relative;
//   height: 500px;
//   width: 100%;
// }

// .section-hero__overlay {
//   background-color: rgba(0, 0, 0, 0.7);
//   width: 100%;
//   height: 100%;
// }

// .section-hero__content {
//   max-width: 1280px;
//   margin: 0 auto;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 0;
//   right: 0;
// }

// .section-hero__heading {
//   color: #e4b43c;
//   line-height: 140%;
//   width: 500px;
//   margin-bottom: 30px;
// }

// .section-hero__subheading {
//   width: 800px;
//   line-height: 160%;
//   font-weight: 400px;
//   color: #ffffff;
// }
